.DS_Store
Keys.plist
ObservationDiary.xcworkspace/xcuserdata/tajika.xcuserdatad/UserInterfaceState.xcuserstate
*.generated.swift
ObservationDiary.xcworkspace/xcuserdata/tajika.xcuserdatad/UserInterfaceState.xcuserstate
